
.analyse-nav{
  background-color: var(--Light);
  border-bottom: 1px solid var(--DarkBlue);
}

.chart-logo{
  cursor: pointer;
  transition: all .25s;
}
.chart-logo:hover{
  transform: scale(1.2);
}

.chart-select ,.label-select{
  background-color: var(--Light);
}
.dropdown-labels{
  background-color: var(--);
}

.analyse-chart-card{
  min-height:80vh;
  min-width:80%;
}
.analyse-filter-container{
  min-width: 20%;

}

